
.reg{
    text-align: center;
    margin-top: 70px;
}
.hh2{
    font-size: 27px;
}
input{
    align-items : center;
    padding: 12px;
    width: 250px;
    margin-bottom: 20px;
    background-color: rgb(239, 239, 243);
    border: none;
    border-radius: 5px;
}
label{
    font-size: 18px;
    margin-right:200px;
   
}

.password::placeholder{
    font-size: 30px;
}
button{
    
    cursor: pointer;
    border-radius: 5px;
    margin-top: 7px;
}




















.btn{
    
        width: 275px;
        background-color: #3c83A1;
        color: #fff;
        padding: 9px;
        border: none;
        font-size: 20px;
    
}